/*CSS Goes here */
body {
  font-family: 'Cinzel', serif;
  background-image: url('../img/background.jpg');
  margin: 0px;
}

header {
  background-image: url('../img/headerbg.png');
  margin-top: 0px;
  padding: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px black;
}
h1 {
  color: #33223F;
  font-weight: bold;
  text-align: center;
}

figcaption {
  text-align: center;
  margin-bottom: 10px;
}
button {
  font-family: 'Cinzel', serif;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  background-color: rgba(120, 192, 168, 0.5);
  box-shadow: 0 0 2px black;
}
button:hover {
  background-color: rgba(120, 192, 168, 0.9);
  box-shadow: 0 0 10px black;
}
button:focus {
  outline: none;
}
#picDisplayArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#responseArea {
  display: flex;
  justify-content: center;
}
#responseColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#choiceOne, #choiceTwo {
  border: solid black;
  border-radius: 100%;
  border-width: 3px;
}
.standard {
  box-shadow: 0 0 20px #33223F;
}
.standard:hover {
  box-shadow: 0 0 35px #00A871;
}
.inactive {
  box-shadow: 0 0 20px #33223F;
}
.winner {
  box-shadow: 0 0 50px red;
}
#voteCountDisplayOne, #voteCountDisplayTwo {
  font-family: 'Cutive Mono', ;
}
